html,body {
  margin:0;
  padding:0;
  height:100%;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #ff0000;
  height: 80px;
  padding: 10px;
  color: white;
  position: relative;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
}

.App-footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:50px;
  background-color: #ff0000;
}

.App-Content {
  padding: 20px;
  margin-bottom:60px;
}

.App-Logo {
  height: 80px;
}

.App-Header-Image {
  height: 60px;
}

.Inline {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.App-Trikot-Box {
  margin-left: 20px;
  padding: 0.5rem;
}

.App-Trikot-Content {
  padding-top: 0.5rem;
}

.map {
  height: 600px;
}

.App-Table {
  margin-top: 1rem;
}