html,body {
  margin:0;
  padding:0;
  height:100%;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #ff0000;
  height: 80px;
  padding: 10px;
  color: white;
  position: relative;
}

.App-title {
  margin-left: 0.4rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.App-footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:5rem;
  background-color: #ff0000;
  z-index:1000;
}

.App-Content {
  padding: 20px;
  margin-bottom:5rem;
  z-index:100;
}

.App-Logo {
  height: 80px;
}

.App-Header-Image {
  height: 60px;
}

.Inline {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.App-Trikot-Box {
  margin-bottom: 1rem;
}

.App-Trikot-Content {
  padding-top: 0.5rem;
}

.map {
  height: 600px;
}

.App-Table {
  margin-top: 1rem;
}

footer > .ui.menu {
  background-color: #ff0000;
  height: 5rem;
}

.App-Icon-White {
  color: white;
}

footer i.icon {
  font-size: 2rem;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navitem {
  width: 20%;
}

.App-Timeline > div:first-child {
  left: 13.5px !important;
  width: 6px !important;
}

.App-Timestamp {
  margin-bottom: 1rem !important;
}

.App-Judgment-Rider {
   size: 3rem;
   margin: 0.3rem;
   font-size: 1rem;
   font-weight: normal;
}

.App-Trikot-Rider {
  size: 3rem;
  margin: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
}

.App-RaceGroup-Rider {
  size: 3rem;
  margin: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
}

.App-Judgment-Rank {

}

.App-Judgment-Rank > h5, .App-Judgment-Single > h1 {
  margin-bottom: 0 !important;
}

.App-Judgment-Rank > p:last-child, .App-Judgment-Single > p:first-child {
  margin-bottom: 2rem;
}

.App-Flag {
  margin-left: 0.5rem !important;
}

.App-Table-Grid {
  width: 100% !important;
}

.App-Search > .input {
  width: 100% !important;
}

.search .icon {
  font-size: 1.5rem !important;
}

.circle {
  top: 0px;
  border-radius: 25px;
  padding: 1rem;
  height: 30px;
  width: 10rem;
  margin-left: 0.5rem;
  background: #00BFFF;
  border: #00BFFF;
  display: flex;
  left: 0px;
}

.innerCircle {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.long {
  width: 100%;
}

.nomargin {
  margin-left: 0;
}

.gaps {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ui.table:not(.unstackable) tr>th.floatLeft {
  float: left;
}

.ui.table:not(.unstackable) tr>th.widthThird {
  width: 33.3% !important;
}

@media (min-width: 767px) {

  .ui.table:not(.unstackable) tr>th.floatLeft {
    float: none;
  }

  .ui.table:not(.unstackable) tr>th.widthThird {
    width: auto !important;
  }

}

.ui.feed {
  margin: 0;
}

.ui.feed > .event > .label {
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
}

.ui.feed > .event > .content {
  margin-top: 1.5rem !important;
  font-weight: bold !important;
  font-size: 1.71428571em;
}

.App-Image-Rider {
  width: 100%;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  height: auto;
  background: rgb(160, 178, 184);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #6fba1c;
  margin-left: 0.21rem;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  padding-bottom: 0.5rem;
  width: 400px;
  left: 2.5rem;
}

.App-Last-Timeline-Element::after {
  background: none !important;
}

.App-Timeline {
  margin-bottom: 0;
  margin-top: 0;
}

.App-Timeline-Distance {
  font-weight: bold;
}